extends ../../../templates/master

block main
	.container
		.row
			.col-sm-12.mx-auto
				.container.mt-3
					.container
						.row
							h3.ml-4 Summary of Reservation
							.mx-3
								table.table.table-striped.table-bordered.w-100
									caption Verify Reservation of Customers
									thead.table-primary
										tr.text-center
											th(scope='col') #
											th(scope='col') Room Desc
											th(scope='col') QTY
											th(scope='col') Cottage Desc
											th(scope='col') QTY
											th(scope='col') Tickets Desc
											th(scope='col') QTY
									tbody
										tr
											th.text-center(scope='row')
											td.text-center #{custInfo.intReserveID}
											td.text-center #{custInfo.tbl_rooms.strDetails}
											td.text-center #{custInfo.tbl_reserve_rooms.intQTY}
											td.text-center #{custInfo.tbl_cottages.strDescription}
											td.text-center #{custInfo.tbl_reserve_cottage.intQTY}
											td.text-center #{custInfo.tbl_tickets.strDesc}
											td.text-center #{custInfo.tbl_reserve_ticket.intQTY}
